[submodule "./control-plane/paving-platform-automation-engine"]
path = ./control-plane/paving-platform-automation-engine
url = git@github.com:pivotal/paving-platform-automation-engine.git
[submodule "control-plane/paving-platform-automation-engine"]
	path = control-plane/paving-platform-automation-engine
	url = git@github.com:pivotal/paving-platform-automation-engine.git
